* {
  box-sizing: border-box;
}

body {
  background: #e14647;
  margin: 0;
}

h1 {
  background-color: #e14647;
  color: #fff;
  padding: 18px;
}

.App {
  padding: 30px;
  background: #fff;
  width: 80%;
  margin: 10% auto;
  box-shadow: 1px 2px 5px #eee;
}

input {
  width: 80%;
  border: none;
  padding: 6px 10px;
  background: #e8e8e8;
  outline: 0;
}

button {
  width: 20%;
  padding: 6px 0;
  margin: 0;
  outline: 0;
  border: 0;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  background: #4db55c;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 15px 0;
}

li span {
  width: 60%;
  display: inline-block;
  color: #6a6a6a;
}

li > button:first-of-type {
  width: 19%;
  margin-right: 1%;
  background: #6a6a6a;
  color: #fff;
}

li > button:last-of-type {
  background: #d9534f;
  color: #fff;
}

ul > form {
  margin: 15px 0;
}

.text-center {
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
  margin: 0;
  font-weight: bold;
  color: #e14647;
  text-transform: uppercase;
  font-family: sans-serif;
}
